@import url(reset.css);

body{
    position: relative;
    width: 1440px;
    height: 1024px;

    background: #FFFFFF;
}
.search_bar{
    position: absolute;
    width: 621px;
    height: 75px;
    left: 409px;
    top: 59px;
    background: #7C9473;
    border-radius: 30px;
}
.search_btn{
    position: absolute;
    width: 32px;
    height: 38px;
    left: 550px;
    top: 17px;
    outline: none;
    border: none;
    background: none;
}
.search_txt{
    float: left;
    padding: 0;
    background: none;
    border: none;
    outline: none;
    color: #E8EAE6;
    font-size: 20px;
    line-height: 75px;
    width: 630px;
}

.listview{
    position: absolute;
    width: 906px;
    height: 571px;
    left: 266px;
    top: 290px;
    background: #FFFFFF;
}

.seriesList{
    position: absolute;
    width: 442px;
    height: 571px;
    left: 0px;
    top: 0px;
    background: #E8EAE6;
    border-radius: 30px;    
}

.movieList{
    position: absolute;
    width: 442px;
    height: 571px;
    left: 464px;
    top: 0px;
    background: #E8EAE6;
    border-radius: 30px;    
}

/*.search:hover > form .search_txt{
    width: 200px;
}
.search:hover > form .search_btn{
    background: #65bf97;
}*/


/* UserIcon */
.initial_userIcon{
    position: absolute;
    width: 70px;
    height: 70px;
    left: 1311px;
    top: 61px;
    outline: none;
    border: none;
}

/* searchIcon */






