@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Neuton:wght@200;400&family=Open+Sans&family=PT+Serif&display=swap');

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #FFFFFF;
}

.header_nav {
    display: flex;
    padding: 20px 0;

    right: 0;
    top: 15%;
}
  
.header_nav li {
    float: left;
    margin: 10px 22px 0 0;
}  

/*search Button*/
.search_btn{
    position: absolute;
    width: 60px;
    height: 60px;
    top: 8%;
    left: 45%;
    outline: none;
    border: none;
    border-radius: 20px;
    background-color: #7C9473;

    box-shadow: 3px 3px 3px black;
    transition-duration: 0.2s;
}

.search_btn img{
    margin: 11px;
    left: 10%;
}

/* UserIcon */
.initial_userIcon{
    position: absolute;
    width: 70px;
    height: 70px;
    left: 90%;
    top: 8%;
    outline: none;
    border: none;
}



/*main movie, series list*/
main{
    position: absolute;
    width: 906px;
    height: 571px;
    left: 22%;
    top: 290px;
    background: #FFFFFF;
}

#seriestoplist{
    position: absolute;
    width: 442px;
    height: 571px;
    left: 0px;
    top: 0px;
    background: #E8EAE6;
    border-radius: 30px;
}

#movietoplist{
    position: absolute;
    width: 442px;
    height: 571px;
    left: 50%;
    top: 0px;
    background: #E8EAE6;
    border-radius: 30px;    
}

h2{
    margin: 0px;
    padding: 0px;
    font-family: 'Neuton', serif;
    font-size: 20px;
    line-height: 6rem;
    text-align: center;
}

/*movie List, series List*/
main section div ul{
    margin-left: 5px;
    margin-right: 5px;
    width: 420px;
    height: 466px;
    overflow: auto;
}

main section div ul li{
    width: 420px;
    height: 130px;
    margin-top: 5px;
    margin-bottom: 5px;
    
    float: left;
    position: relative;
    list-style-type: none;
}


main section div ul li a{
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre-line;
    align-items: inherit;
    align-content: inherit;
    padding-left: 30px;

    text-align: left;
    font-family: 'Neuton', serif;
    font-size: 20px;
    line-height: 20px;
    text-indent: 10px;
}

main section div ul li a>img{
    /*position: absolute;*/
    /*display: block;*/
    width: 80px;
    height: 110px;
}


main section div ul li a img:hover{
    transform: scale(1.15);
}











