@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Neuton:wght@200;400&family=Open+Sans&family=PT+Serif&display=swap');


body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #FFFFFF;
}

/*search bar*/
.search_bar{
    position: absolute;
    width: 50%;
    height: 75px;
    left: 20%;
    top: 8%;
    background: #7C9473;
    border-radius: 30px;
}

.search_btn{
    position: absolute;
    width: 60px;
    height: 60px;
    left: 92%;
    top: 20%;
    outline: none;
    border: none;
    background: none;
    border-radius: 20px;
    background-color: #7C9473;

    box-shadow: 3px 3px 3px black;
    transition-duration: 0.2s;
}

.search_btn > img{
    margin: 11px;
}

.search_txt{
    width: 100%;
    height: 75px;
    background-color: #7C9473;
    border: none;
    outline: none;
    border-radius: 30px;
    padding: 10px;

    color:  #E8EAE6;
    text-align: left;
    font-size: 20px;
}

/*sign in page*/
.initial_userIcon{
    position: absolute;
    width: 70px;
    height: 70px;
    left: 90%;
    top: 8%;
    outline: none;
    border: none;
}

.bookmark{
    position: absolute;
    top: 9%;
    left: 75%;
}

.bookmarkBtn{
    width: 100px;
    height: 70px;
    
    outline: none;
    border: none;
    border-radius: 30px;

    font-family: 'Neuton', serif;
    font-size: 15px;
    color:#E8EAE6;
    text-align: center;

    background-color: #7C9473;
    box-shadow: 3px 3px 3px black;
    transition-duration: 0.2s;
}
.bookmarkBtn:active{
    box-shadow: none;
    margin-top : 5px;
    margin-bottom: 5px;
}
/*search result view*/
.result{
   
    position: absolute;
    width: 1247px;
    height: 750px;
    left: 15%;
    top: 20%;

    background: #E8EAE6;
    border-radius: 30px;
}

.result ul{
    width: 1247px;
    height: 750px;
    overflow: auto;
    margin: 5px;
}

.result ul li {
    float: left;
    display: block;
    position: relative;
    width: 550px;
    height: 250px;
    margin: 5px;
    
    list-style-type: none;
}

.result ul li a{
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre-line;
    align-items: inherit;
    align-content: inherit;
    padding-left: 30px;
    height: 250px;

    text-align: left;
    font-family: 'Neuton', serif;
    font-size: 20px;
    line-height: 15px;
}

.result ul li a img{
    float: inherit;
    display: block;
    width: 150px;
    height: 200px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}


.result ul li a img:hover{
    transform: scale(1.15);
}