@import url('https://fonts.googleapis.com/css2?family=Neuton:wght@200;400&family=Open+Sans&family=PT+Serif&display=swap');

.signup::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background: inherit;
}

/* SignIn_bg */
.signup{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.signup_form{ 
    width: 500px;
    height: 571px;
    
    background: #CFDAC8;
    border-radius: 30px;
}

.signup_title{
    font-family: 'Neuton', serif;
    text-align: center;
    font-size: 45px;
    line-height: 57px;
    color: #000000;

    padding: 20px 0;
}

/* Sign In */

.input_box{
    /*position: fixed;*/
    width: 90%;
    height: 65px;
    
    margin-left: 25px;
    margin-bottom: 10px;
    padding: 20px;

    box-sizing: border-box;
    background: #E8EAE6;
    border-radius: 20px;

    border: none;
    outline: none;
    

    font-family: 'Neuton', serif;
    font-size: 20px;
}

.input_username{
    left: 506px;
    top: 442px;
}

.input_id{
    left: 506px;
    top: 442px;
}

.input_pw{
    left: 506px;
    top: 528px;
}

.signup_btn{
    /* SignIn_btn */
    /*position: absolute;*/
    border: none;
    outline: none;
    width: 90%;
    height: 80px;
    left: 506px;
    top: 673px;

    margin-left: 25px;
    margin-bottom: 10px;
    padding: 10px;

    box-sizing: border-box;
    background: #7C9473;
    border-radius: 20px;

    cursor: pointer;

    font-family: 'Neuton', serif;
    font-size: 20px;
}

/*.input[type=button]:hover {
    cursor: pointer;
    background-color: #CFDAC8;
    text-decoration: underline;
  }*/
  
.login__signin login__signin--signup{
    font: 'Neuton';
}

.signin{
    text-align: center;
}
.signin_question{

    /*position: absolute;*/
    width: 171px;
    height: 25px;
    left: 591px;
    top: 737px;

    font-family: 'Neuton', serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;

/* oss_palette-4 */
    color: #7C9473;
}

.signinpage{

    /*position: absolute;*/
    width: 60px;
    height: 25px;
    left: 778px;
    top: 737px;

    font-family: 'Neuton', serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;

/* oss_palette-4 */
    color: #7C9473;
}
